<div class="page-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="jumbotron">
					<h2 class="display-4">Node Authentication</h2>
					<p>A Basic Node-Express Authentication System</p>
				</div>
			</div>
		</div>
	</div>
</div>

