<div class="page-container">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="jumbotron text-center">
					<h2 class="display-5">{{ slogan }}</h2>
					<p>{{ desc }}</p>
					<a href="/users/register" class="btn btn-primary">Register</a>
					<a href="/users/login" class="btn btn-success">Login</a>
				</div>
			</div>
		</div>
	</div>
</div>

