<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<small class="footer-text">A Simple Node-Express Auth Application</small>
			</div>
			<div class="col-sm-12 col-md-6 text-right">
				<small>&copy;2018. All Right Reserved <a href="http://craftytheme.com">Craftytheme.com</a></small>
			</div>
		</div>
	</div>
</div>