<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  		<a class="navbar-brand" href="#">Node Auth</a>
		  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		  		</button>

		  		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    	<ul class="navbar-nav mr-auto text-right">
		    		{{#if user}}
					<li class="nav-item active"><a class="nav-link" href="/">Dashboard</a></li>
					<div class="dropdown">
					 	<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome {{user.username}}</button>
					  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					    	<a class="dropdown-item" href="/users/profile">Profile</a>
					    	<a class="dropdown-item" href="/users/logout">Logout</a>
					  	</div>
					</div>
		    		{{else}}
					<li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
		      		<li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
		    		{{/if}}
		  		</div>
			</nav>
		</div>
	</div>
</div>